


<mat-sidenav-container class="example-container"  >
  <mat-sidenav mode="side" opened style="background: aliceblue" *ngIf="shouldRun == true">SERVICIOS</mat-sidenav>

  <mat-sidenav-content >
    
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="shouldRun = !shouldRun">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="menu">
        <h1>HOTEL NUEVA SANTA CRUZ</h1>
        <h2>OFERTAS</h2>
        <h2>MIS RESERVAS</h2>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
