/*elementos en bloque*/
.mat-sidenav{
  top: 0 ;
  left: 0;
  bottom: 0;
  position: fixed;
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  padding: 10px;


}

.menu{
text-align: center;
color: white;
  background-color: var(--color-primary);
}
.mat-toolbar{
  background-color: var(--color-primary);
}

/*elementos en especificos*/
h1{
  float: left;
  margin-right: 800px;
  margin-left: 20px;
  font-family: var(--font-primary);
  font-weight: 700;
  font-style: normal;

}
h2{
  float: right;
  margin-right: 100PX;
  font-family: var(--font-primary);
  font-weight: 700;
  font-style: normal;
}
