.mat-sidenav{
  top: 0 ;
  left: 0;
  bottom: 0;
  position: fixed;
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  margin: 15PX;
  padding: 10px;
  

}

.menu{
text-align: center;
color: white;
  background-color: brown;

}
h1{
  float: left;
  margin-right: 800px;
  margin-left: 20px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;

}
h2{
  float: right;
  margin-right: 100PX;
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
}

