.container{
  background-color:darkgrey;
  height: 100%;
  width: 100%;
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(179, 6, 6);
}
.formulario{
  margin-left: 200px;
  margin-top: 50px;
  padding: 50px;
  background-color: gray;
  border-radius: 10px;
  width: 1000px;
}
label{
  padding: 5px;
}
input{
  border-radius: 10px;
  padding: 10px;
}
button{
  border-radius: 10px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  padding: 10px;
  background-color: brown;
  color: white;
  margin-left: 10px;
}
label{
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
}
.habitaciones{
  background-color: gray;
  border-radius: 10px;
  height: 500px;
  width: 1100px;
  margin-left: 200px;
  margin-top: 50px;
  
}
img{
  width: 300px;
  height: 200px;
}


