.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(179, 6, 6);
}
.formulario{
  margin-left: 200px;
  margin-top: 50px;
  padding: 50px;
  background-color: gray;
  border-radius: 10px;
  width: 800px;
}
label{
  padding: 50px;
}
input{
  border-radius: 10px;
  padding: 10px;
}
button{
  border-radius: 10px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  padding: 5px;
  background-color: brown;
  color: white;
  
}
